/* ----fontc --*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/*-- common styles----- */
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.haf-width{
    width: 50%;
    padding-left: 10%;
}
.haf-width img{
    width: 80%;
}
.link-baton{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
}
/* courses style */
.alion{
    justify-content: right 50px;

}
.course .course-banner img{
    width: 240px;
    height: 180px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 50px;
    
    margin-top: 100px;
    margin-right: 5px;
    background-color:whitesmoke;
     width: 250px;
     box-shadow: 5px;
    
}
.course-title{
    font-size: 30px;
}
.see{
    color: tomato;
    text-align: right;
}

