/* ----fontc --*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/*-- common styles----- */
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
section{
    display: flex;
}
.haf-width{
    width: 50%;
    padding-left: 10%;
}
.haf-width img{
    width: 80%;
}
.link-baton{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
}
/* courses style */
 .alion{
    justify-content: right 50px; 

}
.course .course-banner img{
    width: 240px;
    height: 180px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 50px;
    
    margin-top: 100px;
    margin-right: 5px;
    background-color:whitesmoke;
     width: 250px;
     box-shadow: 5px;
    
}
.course-title{
    font-size: 30px;
}
.see{
    text-align:left;
    text-decoration: none;
    color: tomato;
   
}
/* footer */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}





