/* ----fontc --*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/*-- common styles----- */
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.haf-width{
    width: 50%;
    padding-left: 10%;
}
.haf-width img{
    width: 80%;
}
.link-baton{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
}